<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Servicios</title>
</head>
<body>    
    <header>
        <h1>Diseño <span class="multimedia_titulo">Multimedia</span></h1>
        <nav>
            <ul>
                <li><a class="inicio" href="/index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Subscribete a nuestro boletin</h2>
        <form action="">
            <input type="text" placeholder="Ingrese el Email...">
            <input type="submit" value="Suscribirse">
        </form>
    </section>
    <main>
    </main>    
</body>
</html>